body {
  margin: 0;
}
.container {
  width: 100%;
  background-color: black;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.heart {
  background-color: red;
  position: relative;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
}

.heart::after,
.heart::before {
  border-radius: 50%;
  content: "";
  position: absolute;
  background: red;
  width: 100px;
  height: 100px;
}
.heart::before {
  top: -50px;
  left: 0;
}
.heart::after {
  top: 0;
  left: -50px;
}
